body {
    background-color: var(--cor-fundo);
    overflow-x: hidden;
}

.sectionTelaPrincipal {
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgPrincipal {
    padding-bottom: 50px;
    padding-left: 20px;
}

@media (max-width: 600px){
    .sectionTelaPrincipal .imgPrincipal {
        width: 300px;
        height: auto;
    }
}

